section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style-type: none;

        li {
            // o & referencia o elemento pai, nesse caso li (soh existe pq estamos usando nested selectors)
            // e o + eh CSS msm, selection o primeiro li que vem depois de um li
            & + li {
                margin-top: 20px;
            }
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }
    }
}